body {
    background-color: #59C3C3;
}

h1,
h2,
h3,
p,
form {
    color: #EBEBEB;
    text-align: center;
}

p {
    font-size: 25px;
}

#addItem {
    width: 250px;
    height: 100px;
    margin: 10px;
}

a {
    color: #EBEBEB;
    border-style: solid;
    border-color: #EBEBEB;
    border-width: 2px;
    /* padding: 4px; */
    /* margin: 20px; */
}

textarea {
    height: 25px;
    width: 200px;
}

#mainMenu {
    margin-top: auto;
}