body {
    background-color: #637074;
}

h1,
h2,
h3,
p,
form {
    color: #BDD4E7;
    text-align: center;
}

p {
    font-size: 50px;
}

#addItem {
    width: 250px;
    height: 100px;
}

a {
    margin-top: 5px;
    color: #BDD4E7;
    border-style: solid;
    border-color: #BDD4E7;
    border-width: 2px;
}